<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MobaXtermKG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MobaXtermKG.Properties.Settings>
            <setting name="app_def_version" serializeAs="String">
                <value>23.6</value>
            </setting>
            <setting name="app_def_users" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="app_cli_exe" serializeAs="String">
                <value>mobaxterm_cli.exe</value>
            </setting>
            <setting name="app_def_mxtpro" serializeAs="String">
                <value>Custom.mxtpro</value>
            </setting>
            <setting name="app_url_github" serializeAs="String">
                <value>https://github.com/Aetherinox/MobaXtermKeygen</value>
            </setting>
            <setting name="app_url_tpb" serializeAs="String">
                <value>https://thepiratebay.org/search.php?q=user:Aetherinox</value>
            </setting>
            <setting name="app_mobaxterm_exe" serializeAs="String">
                <value>MobaXterm.exe</value>
            </setting>
            <setting name="app_dev_piv_thumbprint" serializeAs="String">
                <value>58a1539d6988d76f44bae27c27ed5645d3b1222a</value>
            </setting>
            <setting name="app_dev_gpg_keyid" serializeAs="String">
                <value>CB5C4C30CD0D4028</value>
            </setting>
            <setting name="app_url_manifest" serializeAs="String">
                <value>https://raw.githubusercontent.com/Aetherinox/MobaXtermKeygen/master/Manifest/manifest.json</value>
            </setting>
            <setting name="app_res_file_dmp_original" serializeAs="String">
                <value>hex_original.dmp</value>
            </setting>
            <setting name="app_res_file_dmp_patched" serializeAs="String">
                <value>hex_patched.dmp</value>
            </setting>
            <setting name="app_argid_debug" serializeAs="String">
                <value>--debug</value>
            </setting>
            <setting name="NeedsUpgrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="app_name" serializeAs="String">
                <value>MobaXterm</value>
            </setting>
            <setting name="app_debug_clicks_activate" serializeAs="String">
                <value>7</value>
            </setting>
        </MobaXtermKG.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup>
</configuration>
