<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MobaXtermKG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MobaXtermKG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MobaXtermKG.Properties.Settings>
            <setting name="app_def_version" serializeAs="String">
                <value>23.6</value>
            </setting>
            <setting name="app_def_users" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="app_cli_exe" serializeAs="String">
                <value>mobaxtgen_cli.exe</value>
            </setting>
            <setting name="app_def_mxtpro" serializeAs="String">
                <value>Custom.mxtpro</value>
            </setting>
            <setting name="app_url_github" serializeAs="String">
                <value>https://github.com/Aetherinox/MobaXtermKeygen</value>
            </setting>
            <setting name="app_url_tpb" serializeAs="String">
                <value>https://thepiratebay.org/search.php?q=user:Aetherinox</value>
            </setting>
            <setting name="app_mobaxterm_exe" serializeAs="String">
                <value>MobaXterm.exe</value>
            </setting>
            <setting name="app_dev_piv_thumbprint" serializeAs="String">
                <value>70575bdfb02b3f1b45a37431bef9a8c9933a4ace</value>
            </setting>
            <setting name="app_dev_gpg_keyid" serializeAs="String">
                <value>CB5C4C30CD0D4028</value>
            </setting>
            <setting name="app_url_manifest" serializeAs="String">
                <value>https://raw.githubusercontent.com/Aetherinox/MobaXtermKeygen/master/Manifest/manifest.json</value>
            </setting>
            <setting name="app_softw_name" serializeAs="String">
                <value>MobaXterm</value>
            </setting>
        </MobaXtermKG.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MobaXtermKG.Properties.Settings>
            <setting name="bShowedUpdates" serializeAs="String">
                <value>False</value>
            </setting>
        </MobaXtermKG.Properties.Settings>
    </userSettings>
</configuration>